<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMovimientos" />
                <binding name="BasicHttpBinding_IArticulos" />
                <binding name="BasicHttpBinding_IOrdenTrabajos" />
                <binding name="BasicHttpBinding_IOrdenTrabajoDetalle" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:30813/Servicios/Movimientos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMovimientos"
                contract="MovWS.IMovimientos" name="BasicHttpBinding_IMovimientos" />
            <endpoint address="http://localhost:30813/Servicios/Articulos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IArticulos"
                contract="ServiceArticulo.IArticulos" name="BasicHttpBinding_IArticulos" />
            <endpoint address="http://localhost:30813/Servicios/OrdenTrabajos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdenTrabajos"
                contract="OrdWS.IOrdenTrabajos" name="BasicHttpBinding_IOrdenTrabajos" />
            <endpoint address="http://localhost:30813/Servicios/OrdenTrabajos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdenTrabajoDetalle"
                contract="OrdWS.IOrdenTrabajoDetalle" name="BasicHttpBinding_IOrdenTrabajoDetalle" />
        </client>
    </system.serviceModel>
</configuration>