<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IArticulos" />
                <binding name="BasicHttpBinding_IOrdenTrabajos" />
                <binding name="BasicHttpBinding_IOrdenTrabajoDetalle" />
                <binding name="BasicHttpBinding_IGestionarMovimiento" />
                <binding name="BasicHttpBinding_IMovimientoAlmacenes" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:30813/Servicios/OrdenTrabajos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdenTrabajos"
                contract="OrdWS.IOrdenTrabajos" name="BasicHttpBinding_IOrdenTrabajos" />
            <endpoint address="http://localhost:30813/Servicios/OrdenTrabajos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdenTrabajoDetalle"
                contract="OrdWS.IOrdenTrabajoDetalle" name="BasicHttpBinding_IOrdenTrabajoDetalle" />
            <endpoint address="http://localhost:30813/Servicios/Articulos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IArticulos"
                contract="ServiceArticulo.IArticulos" name="BasicHttpBinding_IArticulos" />
            <endpoint address="http://localhost:30813/Servicios/GestionarMovimiento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGestionarMovimiento"
                contract="GesMovWS.IGestionarMovimiento" name="BasicHttpBinding_IGestionarMovimiento" />
            <endpoint address="http://localhost:30813/Servicios/MovimientoAlmacenes.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMovimientoAlmacenes"
                contract="MovAlmWS.IMovimientoAlmacenes" name="BasicHttpBinding_IMovimientoAlmacenes" />
        </client>
    </system.serviceModel>
</configuration>