<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOrdenTrabajos" />
                <binding name="BasicHttpBinding_IOrdenTrabajoDetalle" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:30813/Servicios/OrdenTrabajos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdenTrabajos"
                contract="WSord.IOrdenTrabajos" name="BasicHttpBinding_IOrdenTrabajos" />
            <endpoint address="http://localhost:30813/Servicios/OrdenTrabajos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdenTrabajoDetalle"
                contract="WSord.IOrdenTrabajoDetalle" name="BasicHttpBinding_IOrdenTrabajoDetalle" />
        </client>
    </system.serviceModel>
</configuration>
